<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    &lt;!&ndash;添加别名&ndash;&gt;-->
<!--    <typeAliases>-->
<!--        <package name="com.tzx.pojo"/>-->
<!--    </typeAliases>-->

    <mappers>
        <mapper resource="com/tzx/dao/AdminMapper.xml"/>
        <mapper resource="com/tzx/dao/BookMapper.xml"/>
        <mapper resource="com/tzx/dao/LendInfoMapper.xml"/>
        <mapper resource="com/tzx/dao/ReaderMapper.xml"/>
        <mapper resource="com/tzx/dao/TypeMapper.xml"/>
    </mappers>

</configuration>